body {
    background-color: gainsboro;
}

.centered {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0
}

.left {
    height: 100%;
    width: 50%;
    left: 0;
    background-color: blanchedalmond;
}

.right {
    height: 100%;
    width: 50%;
    right: 0;
    background-color: blanchedalmond;
}