body {
    background-color: navy;
  }

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }

.left {
  left: 0;
  background-color: green;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fullsize {
  height: 95%;
  width: 95%;
}

textarea {
  height: 45%;
  width: 100%;
}
